@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap'); /*quando importar a fonte terá que adaptar os espaços onde ela se aplica*/
body{
    background-color: yellowgreen;
}
.conteiner{  /* vai alocar tudo que compõe o site*/
 width: 100%;
 height: 680px;
 margin: auto;

 position: relative;
}
.subconteiner{ /* esse subconteiner cuida do posicionamento das divs principais(info e a tabuleiro) deixando um abaixo do outro e posicionado ao centro do conteinerpai*/
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: auto;
  
}
.info{ /* nesta div vamso controlar tres divs(o nome, tempo, pontos*/
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    justify-content: center; /* Centraliza na horizontalmente */
    align-items: center; /* Centraliza na verticalmente */
    width: 100%;
    max-width: 640px;
    height: 60px;
    margin:auto;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}
.ab{/*no html as class estão (ab nome; ab ponto; ab cronometro) quando usamos duas palavras na class podemos chamar junto ou separado no css*/
    height: 32px;
    margin: auto;
    border: 2px solid red;
    border-radius: 5px;
    text-align: justify;
    padding: 5px; /* espaço interno, meio que para centralizar, lembrando foi considerado fonte padrao e tamanho padrão*/
}

.nome{ 
    background-color: purple;
    color: #fff;
    width: 350px;
    margin-left: 10px;
}
.ponto{
    color:#fff;
    background-color: red;
    text-align: center;
    width: 100px;
}
.cronometro{
    color: #fff;
    background-color: orange;
    text-align: center;
    margin: auto;
    height: 30px;
    width: 100px;
    margin-left: 25px;
}
.tabuleiro{
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 640px;
    height: 590px;
    margin: auto;
    display:flex;
    justify-content: center;
    border: 3px solid red;
    border-radius: 10px;
    margin-top: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px; /*para alterar o espaço entre as colunas aumentar este tamanho ou usar colum-gap sem mexer no width*/
    margin: auto; 
    
}
.cartas{
    width: 130px;
    aspect-ratio: 3/4; /*seria um heitgh só que ele aumenta proprocionalmete a altura do item com base no width,se fosse 2/2 seria um quadrado*/
    margin: auto;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    
}
.a{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    border: 2px solid red;
    border-radius: 2px;
    
  
}
.atras{
    background-image:url(atras.jpg);
    background-position: center;
    backface-visibility: hidden;
    background-size: cover; /*analisar com a imagem de fundo, talvez trocar para contain */
    
}
.frente{ 
    transform: rotateY(180deg);
    background-size: cover; /*talvez usar contain*/
}
h1{
    width: 400px;
    margin: auto;
    background-color: blueviolet;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    margin-bottom:10px;
    margin-top: 10px;
}
.revelar{
    transform: rotateY(180deg);
}
.fimdojogo{
    background-color: black;
}
.foi{
opacity: 0.3;
transition: all 800ms ease;
border: 3px solid green; /*muda a cor da borda quando acerta */ 
/*filter: saturate(0);*/
/*border: 5px solid blue;*/

}

